body {
    margin: 0; /* Убираем отступы у body */
}

.image-container {
    position: relative; /* Делаем позиционирование для контейнера */
    margin-left: 0; /* Сдвигаем контейнер к левому краю */
    padding: 0;
    height: 400px; /* Уменьшаем высоту контейнера */
    width: 100%;
}

.image-container img {
    width: 792px; /* Уменьшаем ширину изображения */
    height: 400px; /* Уменьшаем высоту изображения */
    display: block; /* Убираем пробелы под изображением */
}

.image-container::after {
    content: ''; /* Обязательный контент для псевдоэлемента */
    position: absolute; /* Абсолютное позиционирование */
    top: -16px; /* Начало псевдоэлемента от верхней границы контейнера */
    right: 0; /* Позиционируем псевдоэлемент к правому краю контейнера */
    width: 640px; /* Уменьшаем ширину размытия */
    height: 460px; /* Уменьшаем высоту псевдоэлемента */
    background: #D9D9D9; /* Цвет фона для размытия */
    filter: blur(12px); /* Уменьшаем значение размытия */
    pointer-events: none; /* Игнорируем клики на псевдоэлемент */
    z-index: 1; /* Задаем уровень слоя псевдоэлемента */
}

.header h1,
.header h2 {
    position: absolute; /* Абсолютное позиционирование заголовков */
    z-index: 2; /* Устанавливаем более высокий уровень, чем у псевдоэлемента */
    color: #2E3047; /* Цвет текста заголовков */
    text-align: left; /* Центрируем текст */
    left: 72%; /* Центральное выравнивание по горизонтали */
    transform: translateX(-45%); /* Сдвигаем влево на половину ширины элемента */
}

.header h1 {
    font-family: "Mulish", serif;
    font-weight: ExtraBold;
    font-size: 32px; /* Уменьшаем размер шрифта */
    top: 25%; /* Отодвигаем заголовок h1 от верхней границы контейнера */
    width: 504px; /* Уменьшаем ширину */
}

.header h2 {
    left: 69%;
    font-family: "Georgia", serif;
    font-weight: 400;
    font-size: 26px; /* Уменьшаем размер шрифта */
    font-style: italic;
    top: 45%; /* Отодвигаем заголовок h2 ниже h1 */
    padding: 0;
    margin: 0;
}

.advantages {
    width: 972px; /* Уменьшаем ширину секции */
    margin: 40px auto;
    display: flex; /* Используем flexbox для горизонтального расположения */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: flex-start; /* Выравниваем элементы по вертикали */
    flex-wrap: wrap; /* Позволяет элементам переходить на новую строку при сужении экрана */
}

.advantages h2{
    flex: 1; /* Позволяем заголовкам занимать одинаковое пространство */
    text-align: center; /* Центрируем текст заголовков */
    margin: 0; /* Убираем внешние отступы */
    color: #2E3047;
    font-family: "Georgia", serif;
    font-weight: 700;
    font-size: 38px; /* Уменьшаем размер шрифта заголовков */
    font-style: italic; /* Сохранение стиля */
}

.advantages p{
    width: 216px; /* Уменьшаем ширину параграфов */
    flex: 1; /* Позволяем параграфам занимать одинаковое пространство */
    text-align: center; /* Центрируем текст параграфов */
    margin: 0; /* Убираем внешние отступы */
    color: #2E3047;
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 20px; /* Уменьшаем размер шрифта параграфов */
}

.services {
    text-align: center; /* Центрируем текст */
    margin: 40px; /* Отступы сверху и снизу */
}

.services h2 {
    color: #2E3047; /* Цвет заголовка услуг */
    font-family: "Mulish", serif;
    font-weight: ExtraBold;
    font-size: 3rem; /* Размер шрифта заголовка */
    margin-bottom: 20px; /* Отступ снизу */
}

.services p {
    color: #2E3047; /* Цвет абзаца */
    font-family: "Mulish", serif;
    font-weight: 400;
    font-size: 1.2rem; /* Размер шрифта параграфа */
}

.services_container {
    display: flex; /* Используем flexbox */
    flex-wrap: wrap; /* Позволяем элементам переходить на новую строку */
    justify-content: space-between; /* Распределяем пространство между элементами */
}

.services_container div {
    width: calc(50% - 10px); /* Ширина элемента 50% минус отступ */
    margin-bottom: 20px; /* Отступ снизу между строками */
    position: relative; /* Позволяем размещать текст поверх изображения */
    border-radius: 10px; /* Радиус границы для скругления углов */
    overflow: hidden; /* Скрываем избыточную часть */
}

.services_container img {
    width: 100%; /* Ширина изображения на 100% */
    height: auto; /* Высота автоматически */
    display: block; /* Блок для изображения */
}

.services_container h2 {
    color: #D9D9D9; /* Цвет текста */
    position: absolute; /* Абсолютное позиционирование */
    top: 0px; /* Отступ от верхней части */
    left: 50%; /* Центрируем по горизонтали */
    transform: translateX(-50%); /* Сдвигаем влево на 50% ширины элемента */
    z-index: 1; /* Порядок наложения, чтобы текст был сверху */
    font-size: 1.5rem; /* Размер шрифта заголовка внутри блока */
    padding: 30px; /* Отступы вокруг текста */
    border-radius: 5px; /* Скругление углов фона текста */
    width: 100%; /* Ширина фона 70% от родительского блока */
    height: 271px;
    text-align: left; /* Центрируем текст внутри блока */
}

.services_container a {
    position: absolute; /* Абсолютное позиционирование ссылки */
    top: 60px; /* Отступ от верхней части (по желанию) */
    right: 10px; /* Отступ от правой стороны */
    z-index: 1; /* Порядок наложения */
    color: #D9D9D9; /* Цвет ссылки */
    text-decoration: underline; /* Подчеркнутая ссылка */
}

.boiler h2 {
    background-color: #556877; /* Полупрозрачный цвет для блока */
}

.radiator h2 {
    background-color: #A4887C; /* Полупрозрачный цвет для блока */
}

.water h2 {
    background-color: #2E3047; /* Полупрозрачный цвет для блока */
}

.floor h2 {
    background-color: #757C80; /* Полупрозрачный цвет для блока */
}
