body {
    background-color: #D9D9D9; /* Цвет фона страницы */
}

nav {
    text-align: center; /* Выравнивание текста в навигации по центру */
}

nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}

nav > ul > li {
    position: relative; /* Устанавливаем относительное позиционирование для родителя */
    display: inline-block; /* Позиционируем элементы списка в ряд */
    margin: 30px; /* Внешние отступы для элементов списка */
    font-family: "Mulish", serif; /* Шрифт для текста */
    font-weight: medium; /* Начертание шрифта */
    font-size: 30px; /* Размер шрифта */
}

nav ul ul {
    display: none; /* Скрываем вложенное меню по умолчанию */
    position: absolute; /* Абсолютное позиционирование для вложенного меню */
    left: 0; /* Выравнивание по левому краю */
    top: 100%; /* Сдвигаем вниз для абсолютного позиционирования */
    z-index: 3; /* Устанавливаем уровень слоя для подменю */
    background-color: white; /* Цвет фона подменю */
    border: 1px solid #ccc; /* Граница подменю */
}

nav ul li:hover > ul {
    display: block; /* Показываем подменю при наведении на элемент */
}

nav ul li:hover {
    background-color: #2E3047; /* Цвет фона для пункта меню при наведении */
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Цвет текста ссылки */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета текста */
    padding: 5px 10px; /* Добавляем пространство вокруг текста */
}

nav ul li:hover > a {
    background-color: transparent; /* Фон ссылки при наведении на элемент */
    color: white; /* Цвет текста ссылки при наведении */
}

nav ul li:hover {
    color: white; /* Цвет текста пункта меню при наведении */
}

nav a:hover {
    color: white; /* Цвет текста при наведении на ссылку */
}

.logo{
    width: 90px; /* Задает ширину изображения */
    height: 90px; /* Задает высоту изображения */
}
