html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    flex-shrink: 0;
    background-color: #2E3047;
    padding: 10px 20px;
}

nav {
    text-align: center; /* Выравнивание текста в навигации по центру */
}

nav ul {
    list-style: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
}

nav > ul > li {
    position: relative; /* Устанавливаем относительное позиционирование для родителя */
    display: inline-block; /* Позиционируем элементы списка в ряд */
    margin: 30px; /* Внешние отступы для элементов списка */
    font-family: "Mulish", serif; /* Шрифт для текста */
    font-weight: medium; /* Начертание шрифта */
    font-size: 30px; /* Размер шрифта */
}

nav ul ul {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 3;
    background-color: #2E3047;
    border-radius: 10px;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Начальная прозрачность */
    transform: translateY(-10px); /* Сдвиг вверх */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавный переход */
}

nav ul li:hover > ul {
    display: block;
    opacity: 1; /* Полная видимость */
    transform: translateY(0); /* Сдвиг вниз */
}

nav ul ul li {
    display: block; /* Элементы списка отображаются как блоки */
    margin: 0; /* Убираем внешние отступы */
    padding: 10px 20px; /* Отступы внутри элементов */
    font-family: "Mulish", serif; /* Шрифт для текста */
    font-weight: medium; /* Начертание шрифта */
    font-size: 20px; /* Размер шрифта */
    color: #D9D9D9; /* Цвет текста */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета текста */
}

nav ul ul li:hover {
    background-color: #4C4E6E; /* Цвет фона при наведении */
    border-radius: 5px; /* Скругленные углы при наведении */
}

nav ul ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #D9D9D9; /* Цвет текста ссылки */
    display: block; /* Ссылка занимает всю ширину элемента */
}

nav ul ul li:hover a {
    color: white; /* Цвет текста ссылки при наведении */
}

nav ul li:hover > ul {
    display: block; /* Показываем подменю при наведении на элемент */
}

nav ul li:hover {
    background-color: #2E3047; /* Цвет фона для пункта меню при наведении */
    border-radius: 10px;
}

nav ul li a {
    text-decoration: none; /* Убираем подчеркивание */
    color: black; /* Цвет текста ссылки */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход для фона и цвета текста */
    padding: 10px; /* Добавляем пространство вокруг текста */
}

nav ul li:hover > a {
    background-color: transparent; /* Фон ссылки при наведении на элемент */
    color: white; /* Цвет текста ссылки при наведении */
    padding: 10px;
}

nav ul li:hover {
    color: white; /* Цвет текста пункта меню при наведении */
}

nav a:hover {
    color: white; /* Цвет текста при наведении на ссылку */
    padding: 10px;
}

.no-hover {
    width: 5px; /* Задает ширину изображения */
    height: 5px; /* Задает высоту изображения */
}

.no-hover:hover {
    background-color: transparent;
}

.no-hover img {
    width: 33px; /* Задает ширину изображения */
    height: 33px; /* Задает высоту изображения */
}

.logo {
    pointer-events: none;
    width: 50px; /* Задает ширину изображения */
    height: 73px; /* Задает высоту изображения */
}

footer {
    display: flex; /* Устанавливаем флекс-контейнер */
    justify-content: space-between; /* Разделяем контент и лого */
    align-items: center; /* Выравниваем по центру по вертикали */
    padding: 10px 20px; /* Добавляем отступы для футера, по необходимости */
    background-color: #2E3047; /* Пример фона, можете настроить по своему усмотрению */
}

.content a {
    font-family: "Mulish", serif;
    font-weight: SemiBold;
    font-size: 26px;
    color: #D9D9D9;
    text-decoration: none;
}

.content p {
    font-family: "Mulish", serif;
    font-weight: SemiBold;
    font-size: 18px;
    color: #6F8A9F;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.logof {
    width: 100px; /* Пример ширины логотипа, настройте под свои нужды */
    height: 140px; /* Сохраняем пропорции изображения */
}

@media (max-width: 1000px) {
    footer {
        padding-bottom: 10px; /* Adjust padding for smaller screens */
    }

    body {
        overflow-x: hidden; /* Prevent accidental horizontal scrollbars */
    }
}
