<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_styles %}
        {% endblock %}
        <meta charset="UTF-8">
        <title>РибаГруп</title>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo"></li>
                    <li><a href="/">Главная</a></li>
                    <li>
                        Услуги
                        <ul>
                            <li><a href="{% url 'Услуга' service_name='montazh_kotelnogo_oborudovaniya' %}">Котельное оборудование</a></li>
                            <li><a href="{% url 'Услуга' service_name='radiatornoe_otoplenie' %}">Радиаторное отопление</a></li>
                            <li><a href="{% url 'Услуга' service_name='vodyanoy_teplyy_pol' %}">Водяной теплый пол</a></li>
                            <li><a href="{% url 'Услуга' service_name='vnutrennee_vodosnabzhenie' %}">Внутреннее водоснабжение</a></li>
                        </ul>
                    </li>
                    <li><a href="/portfolio/">Портфолио</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <div class="content">
            <a href="tel:79119967595">+7 911 996 75 95</a>
                <br>
            <a href="mailto:ribagroup@yandex.ru">ribagroup@yandex.ru</a>
            <p>ИП Пупа Шлюпа</p>
            <p>1293824897959348</p>
                </div>

            <img src="{% static 'img/logoW.png' %}" alt="Логотип" class="logof">
        </footer>
    </body>
</html>
