<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block extra_styles %}
        {% endblock %}
        <meta charset="UTF-8">
        <title>РибаГруп</title>

    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><img src="{% static 'img/logo.png' %}" alt="Логотип" class="logo"></li>
                    <li><a href="/">Главная</a></li>
                    <li>
                        Услуги
                        <ul>
                            <li><a href="{% url 'Услуга' service_name='Котельное' %}">Котельное</a></li>
                            <li><a href="{% url 'Услуга' service_name='Радиаторное' %}">Радиаторное</a></li>
                        </ul>
                    </li>
                    <li><a href="/portfolio/">Портфолио</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <p>2025 РибаГруп</p>
        </footer>
    </body>
</html>
