{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block content %}
    <section class="header">
        <div class="image-container">
            <img src="{% static 'img/image_main.png' %}" >
        </div>
        <div class="header-content">
            <h1>Инженерные системы дома под ключ в Санкт-Петербурге и Ленинградской области
            <br> <span class="italic">по индивидуальному или <br>готовому проекту</span></h1>
        </div>
    </section>

    <section class="advantages">
        <div>
            <h2>>6 лет</h2>
            <p>мы работаем с лучшими фирмами производителей</p>
        </div>

        <div>
            <h2>от 4 лет</h2>
            <p>стаж наших опытных специалистов</p>
        </div>

        <div>
            <h2>100%</h2>
            <p>гарантия быстрого и качественного выполнения работ</p>
        </div>
    </section>

<section class="services">
   <div class="services_container">
        <!-- Карточка 1 - Монтаж котельного оборудования -->
        <div class="service_card boiler">
            <div class="image-wrapper">
                <img src="{% static 'img/kotelnoe.png' %}" alt="Монтаж котельного оборудования">
            </div>
            <div class="card-content">
                <h3>Монтаж котельного оборудования</h3>
                <a href="/service/montazh_kotelnogo_oborudovaniya/" class="service_link">Подробнее</a>
            </div>
        </div>

        <!-- Карточка 2 - Радиаторное отопление -->
        <div class="service_card radiator">
            <div class="image-wrapper">
                <img src="{% static 'img/radiator.png' %}" alt="Радиаторное отопление">
            </div>
            <div class="card-content">
                <h3>Радиаторное отопление</h3>
                <a href="/service/radiatornoe_otoplenie/" class="service_link">Подробнее</a>
            </div>
        </div>

        <!-- Карточка 3 - Внутреннее водоснабжение -->
        <div class="service_card water">
            <div class="image-wrapper">
                <img src="{% static 'img/water.png' %}" alt="Внутреннее водоснабжение">
            </div>
            <div class="card-content">
                <h3>Внутреннее водоснабжение</h3>
                <a href="/service/vnutrennee_vodosnabzhenie/" class="service_link">Подробнее</a>
            </div>
        </div>

        <!-- Карточка 4 - Водяной теплый пол -->
        <div class="service_card floor">
            <div class="image-wrapper">
                <img src="{% static 'img/floor.png' %}" alt="Водяной теплый пол">
            </div>
            <div class="card-content">
                <h3>Водяной теплый пол</h3>
                <a href="/service/vodyanoy_teplyy_pol/" class="service_link">Подробнее</a>
            </div>
        </div>
    </div>
</section>

<section class="call-me-please">
    <div class="text">
        <h2>Будем откровенны:</h2>
        <p>Для расчета стоимости монтажа водяного теплого пола и сопутствующих коммуникаций нужно подготовить техническое
            задание и выбрать необходимые материалы и оборудование.</p>
        <p>Начнем наше общение в мессенджерах или по телефону – это простое и удобное решение!</p>
    </div>

    <div class="contact-links">
        <a class="tel" href="tel:79119967595">+7 911 996 75 95</a>

        <div class="social-icons">
            <a href="https://api.whatsapp.com/send?phone=79119967595"><img src="{% static 'img/wa.png' %}" alt="WhatsApp"></a>
            <a href="https://t.me/RIBAGroupp"><img src="{% static 'img/tg.png' %}" alt="Telegram"></a>
        </div>
    </div>
</section>

<section class="works">
<h2>Наши работы</h2>
<div class="gallery-container">
    <div class="gallery">
        <img class="blurred-image previous" src="{{ images.previous.photo.url }}" alt="">
        <img id="currentImage" src="{{ images.0.photo.url }}" alt="">
        <img class="blurred-image next" src="{{ images.next.photo.url }}" alt="">

        <div class="image-title">{{ images.0.work_id.place }}</div> <!-- Поправка здесь -->

        <button class="arrow left-arrow" onclick="changeImage(-1)">&#10094;</button>
        <button class="arrow right-arrow" onclick="changeImage(1)">&#10095;</button>
    </div>
</div>
</section>
<script>
let images = [
    {% for image in images %}
        {
            url: "{{ image.photo.url }}",
            place: "{{ image.work_id.place }}" // Убедитесь, что здесь доступно поле `place`
        }{% if not forloop.last %},{% endif %}
    {% endfor %}
];

let currentIndex = 0; // Индекс текущего изображения

function changeImage(direction) {
    currentIndex = (currentIndex + direction + images.length) % images.length; // Обновляем индекс изображений
    document.getElementById('currentImage').src = images[currentIndex].url; // Меняем текущее изображение
    document.querySelector('.image-title').textContent = images[currentIndex].place; // Обновляем название места

    // Обновляем размытые изображения
    let previousIndex = (currentIndex - 1 + images.length) % images.length;
    let nextIndex = (currentIndex + 1) % images.length;

    document.querySelector('.blurred-image.previous').src = images[previousIndex].url;
    document.querySelector('.blurred-image.next').src = images[nextIndex].url;
}

window.onload = () => {
    // Начальная настройка размытых изображений
    document.querySelector('.blurred-image.previous').src = images[(currentIndex - 1 + images.length) % images.length].url;
    document.querySelector('.blurred-image.next').src = images[(currentIndex + 1) % images.length].url;
    document.querySelector('.image-title').textContent = images[currentIndex].place; // Устанавливаем название места на начальной загрузке
};
</script>

{% endblock %}
