{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_service.css' %}">
{% endblock %}

{% block content %}
<h1>{{ service.name }}</h1>

<section class="header">
    <div class="image-container">
        <img src="{{ service.main_photo.url }}" alt="{{ service.name }}">
    </div>
    <p>{{ service.description }}</p>
</section>

<section class="advantages">
    <ul>
        {% for key, value in advantages.items %}
        <li>
            <strong>{{ key }}</strong>: <br> {{ value }}
        </li>
        {% endfor %}
    </ul>
</section>


<section class="test-form">
    {% if stage == 'questions' %}
    <form method="post" class="questions-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p class="question-text">{{ field.label }}</p> <!-- Текст вопроса -->

                {% if field.field.widget.input_type == 'radio' %}
                    <!-- Рендеринг радиокнопок -->
                    {% for choice in field.field.choices %}
                        <div class="choice-group">
                            <input type="radio"
                                   id="{{ field.name }}_{{ forloop.counter }}"
                                   name="{{ field.name }}"
                                   value="{{ choice.0 }}"
                                   class="choice-input">
                            <label for="{{ field.name }}_{{ forloop.counter }}" class="choice-label">
                                {{ choice.1 }}
                            </label>
                        </div>
                    {% endfor %}

                {% elif field.field.widget.input_type == 'select' %}
                    <!-- Рендеринг выпадающего списка -->
                    <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-input">
                        {% for choice in field.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>

                {% elif field.field.widget.input_type == 'checkbox' %}
                    <!-- Рендеринг чекбоксов -->
                    {% for choice in field.field.choices %}
                        <div class="checkbox-group">
                            <input type="checkbox"
                                   id="{{ field.name }}_{{ forloop.counter }}"
                                   name="{{ field.name }}"
                                   value="{{ choice.0 }}"
                                   class="checkbox-input">
                            <label for="{{ field.name }}_{{ forloop.counter }}" class="checkbox-label">
                                {{ choice.1 }} <!-- Вариант ответа -->
                            </label>
                        </div>
                    {% endfor %}

                {% else %}
                    <!-- Рендеринг текстовых полей, текстовых областей и других типов -->
                    {{ field }}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="form-submit">Далее</button>
    </form>

    {% elif stage == 'contact' %}
    <h2 class="form-title">Ваши контактные данные:</h2>
    <form method="post" class="contact-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Имя</label>
            <input type="text" id="name" name="name" class="form-input">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Номер телефона</label>
            <input type="tel" id="phone" name="phone" class="form-input">
        </div>

        <!-- Блок с чекбоксами для выбора способа связи -->
        <div class="form-group">
            <p class="question-text">Предпочтительный способ связи:</p>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_call" name="contact_method" class="checkbox-input" value="call">
                <label for="contact_call" class="checkbox-label">Звонок</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_whatsapp" name="contact_method" class="checkbox-input" value="whatsapp">
                <label for="contact_whatsapp" class="checkbox-label">Ватсап</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_telegram" name="contact_method" class="checkbox-input" value="telegram">
                <label for="contact_telegram" class="checkbox-label">Телеграм</label>
            </div>
        </div>

        <button type="submit" class="form-submit">Отправить</button>
    </form>

    {% elif stage == 'completed' %}
    <h2 class="completion-message">Спасибо за уделенное время, мы свяжемся с Вами в течение рабочего дня!</h2>
    <form action="{% url 'Услуга' service_name=service.url_title %}" class="restart-form">
        <a href="{% url 'reset_session' %}" class="restart-form">Пройти снова</a>
    </form>
    {% endif %}
</section>

<section class="desk-bottom">
    {{ service.description_bottom }}
</section>
{% endblock %}

