{% extends 'base.html' %}
{% load static %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style_service.css' %}">
{% endblock %}

{% block content %}
<section class="header">
    <div class="header-image">
        <img src="{{ service.main_photo.url }}" alt="{{ service.name }}">
    </div>
    <div class="header-content">
        <h1>{{ service.name }}</h1>
        <p>{{ service.description }}</p>
    </div>
</section>

<section class="advantages">
    <ul>
    {% for key, value in advantages.items %}
    <li>
        <strong>{{ key }}:</strong> <br>
        <span class="value">{{ value }}</span>
    </li>
    {% endfor %}
</ul>
</section>

<section class="sale">
    <p>
        Получите предварительный расчет стоимости <br>по вашим параметрам дома и <span class="italic">закрепите скидку</span> <span class="italic-bold">15%</span>
    </p>
</section>

<section class="test-form" id="test-form">
    {% if stage == 'questions' %}
    <form method="post" class="questions-form" onsubmit="saveScrollPosition()">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <p class="question-text">{{ field.label }}</p> <!-- Текст вопроса -->

                {% if field.field.widget.input_type == 'radio' %}
                    <!-- Рендеринг радиокнопок -->
                    {% for choice in field.field.choices %}
                        <div class="choice-group">
                            <input type="radio"
                                   id="{{ field.name }}_{{ forloop.counter }}"
                                   name="{{ field.name }}"
                                   value="{{ choice.0 }}"
                                   class="choice-input">
                            <label for="{{ field.name }}_{{ forloop.counter }}" class="choice-label">
                                {{ choice.1 }}
                            </label>
                        </div>
                    {% endfor %}

                {% elif field.field.widget.input_type == 'select' %}
                    <!-- Рендеринг выпадающего списка -->
                    <select name="{{ field.name }}" id="{{ field.id_for_label }}" class="form-input">
                        {% for choice in field.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>

                {% elif field.field.widget.input_type == 'checkbox' %}
                    <!-- Рендеринг чекбоксов -->
                    {% for choice in field.field.choices %}
                        <div class="checkbox-group">
                            <input type="checkbox"
                                   id="{{ field.name }}_{{ forloop.counter }}"
                                   name="{{ field.name }}"
                                   value="{{ choice.0 }}"
                                   class="checkbox-input">
                            <label for="{{ field.name }}_{{ forloop.counter }}" class="checkbox-label">
                                {{ choice.1 }} <!-- Вариант ответа -->
                            </label>
                        </div>
                    {% endfor %}

                {% else %}
                    {% if field.field.widget.input_type == 'number' %}
                        <div class="input-with-unit">
                        <input type="text"
                               id="{{ field.id_for_label }}"
                               name="{{ field.name }}"
                               class="number-input"
                               pattern="\d*"
                               title="Пожалуйста, введите только цифры">
                        <span class="unit">м²</span>
                        </div>
                    {% else %}
                        {{ field }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
        <button type="submit" class="form-submit">Далее</button>

        <script>
    function saveScrollPosition() {
        const scrollPosition = window.scrollY; // Текущая позиция прокрутки
        sessionStorage.setItem('scrollPosition', scrollPosition); // Сохраняем в sessionStorage
    }

    window.addEventListener('load', function () {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition)); // Восстанавливаем позицию
            sessionStorage.removeItem('scrollPosition'); // Очищаем sessionStorage
        }
    });
</script>

    </form>

    {% elif stage == 'contact' %}
    <h2 class="form-title">Ваши контактные данные:</h2>
    <form method="post" class="contact-form" onsubmit="saveScrollPosition()">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Имя</label>
            <input type="text" id="name" name="name" class="form-input">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Номер телефона</label>
            <input type="tel" id="phone" name="phone" class="form-input">
        </div>

        <!-- Блок с чекбоксами для выбора способа связи -->
        <div class="form-group">
            <p class="question-text">Предпочтительный способ связи:</p>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_call" name="contact_method" class="checkbox-input" value="call">
                <label for="contact_call" class="checkbox-label">Звонок</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_whatsapp" name="contact_method" class="checkbox-input" value="whatsapp">
                <label for="contact_whatsapp" class="checkbox-label">Ватсап</label>
            </div>
            <div class="checkbox-group">
                <input type="checkbox" id="contact_telegram" name="contact_method" class="checkbox-input" value="telegram">
                <label for="contact_telegram" class="checkbox-label">Телеграм</label>
            </div>
        </div>

        <button type="submit" class="form-submit">Отправить</button>

        <script>
    function saveScrollPosition() {
        const scrollPosition = window.scrollY; // Текущая позиция прокрутки
        sessionStorage.setItem('scrollPosition', scrollPosition); // Сохраняем в sessionStorage
    }

    window.addEventListener('load', function () {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition)); // Восстанавливаем позицию
            sessionStorage.removeItem('scrollPosition'); // Очищаем sessionStorage
        }
    });
</script>
    </form>

    {% elif stage == 'completed' %}
    <h2 class="completion-message">Спасибо за уделенное время, мы свяжемся с Вами в течение рабочего дня!</h2>
    <form action="{% url 'Услуга' service_name=service.url_title %}" class="restart-form" onsubmit="saveScrollPosition()">
        <a href="{% url 'reset_session' %}" class="restart-form">Пройти снова</a>
        <script>
    function saveScrollPosition() {
        const scrollPosition = window.scrollY; // Текущая позиция прокрутки
        sessionStorage.setItem('scrollPosition', scrollPosition); // Сохраняем в sessionStorage
    }

    window.addEventListener('load', function () {
        const scrollPosition = sessionStorage.getItem('scrollPosition');
        if (scrollPosition) {
            window.scrollTo(0, parseInt(scrollPosition)); // Восстанавливаем позицию
            sessionStorage.removeItem('scrollPosition'); // Очищаем sessionStorage
        }
    });
</script>
    </form>
    {% endif %}
</section>

<section class="desk-bottom">
    <p>{{ service.description_bottom }}</p>
</section>
{% endblock %}

